@model GestorLaboratorios.ViewModels.Configuracion.ElementoDetalleViewModel

<script type="text/javascript">

</script>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form asp-controller="Configuracion" asp-action="CrearActualizarElemento" method="post">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label>Tipo Elemento</label>
                    <select class="form-control" asp-items="Model.ListadoTipoElemento" asp-for="IdTipoElemento" required></select>
                    @*<span asp-validation-for="IdTipoElemento" class="text-danger">  </span>*@
                </div>
                @*<div class="col-lg-4 col-md-4 col-sm-12">
                        <label>Estado</label>
                        <select class="form-control" asp-items="Model.ListadoEstadosElemento" asp-for="IdEstado"></select>
                    </div>*@
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label>Placa</label>
                    <input class="form-control" asp-for="Placa" required />
                    @*<span asp-validation-for="Placa" class="text-danger">  </span>*@
                </div>
            </div>

            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="serial">Serial</label>
                    <input class="form-control" asp-for="Serial" required />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="modelo">Modelo</label>
                    <input name="modelo" class="form-control" asp-for="Modelo" required />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="marca">Marca </label>
                    <input name="marca" class="form-control" asp-for="Marca" required />
                </div>
            </div>

            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="observacion">Observación</label>
                    <input name="observacion" class="form-control" asp-for="Observacion" />
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="descripcion">Descripción</label>
                    <input name="descripcion" class="form-control" asp-for="Descripcion" />
                </div>

                @if (Model.IdElemento != 0)
                {
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="activo">Activo</label>
                        <input name="activo" class="form-control" asp-for="Activo" checked=@Model.Activo />
                    </div>
                }
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <a asp-controller="Configuracion" asp-action="Elemento"><input type="button" class="btn btn-danger" value="Cancelar"></a>
                </div>

                <input type="hidden" asp-for="IdElemento" />
            </div>
        </form>
    </div>
</div>